<section id="Login" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-sx-12 col-sm-6 col-md-4 mx-auto">
        <div class="card">
          <div class="card-body text-center" >
            <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
              <h1 class="h3 mb-3 font-weight-normal">Login</h1>
              <div class="form-group">
                <input class="form-control" #email="ngModel" [(ngModel)]="user.email" type="text" name="email" id="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input class="form-control" #password="ngModel" [(ngModel)]="user.password" type="text" name="password" id="password" placeholder="Password"
                 required>
              </div>
              <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
              <div class="form-group">
                <a [routerLink]="['/user/register']" routerLinkActive="router-link-active"  class="form-control login-user">No tienes Cuenta?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

